.resume-container{
    width:100%;
    height: 100%;
    padding-bottom: 20px;
    color: white;
}
.resume-name{
    color:orange;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}
.center-res{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.res-name{
    color: white;
}
.res-role{
    font-size: 30px;
    text-align: center;
}
.resume-line{
    display: block;
    width: 700px;
    height: 3px;
    background-color: #18d26e;
    margin: 20px;
}
.education-resume{
    display: flex;
    flex-direction: column;

}
.education-resume h3{
    color: orange;
    padding: 10px;
    font-size: 25px;
    letter-spacing: 2px;
}
.educ-name{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    padding: 5px 10px 0px;
    margin: 10px 0px;
}
.course-data{
    font-size: 22px;
    padding: 5px 10px 0px;
    margin: 10px 0px 20px;
}
.down-opt{
    display: flex;
    justify-content: space-between;
}
.download-resume{
    padding: 10px;
    font-size: 18px;
    float: right;
    border: none;
    border-radius: 10px;
    background-color: #18d26e;
    transition:all 0.3s ease;
}
.download-resume:active{
    transform: scale(0.9);
}
@media screen and (max-width:850px) {
    .down-opt{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
    .resume-line{
        width: 100%;
        margin: 0px;
    }
    .res-role{
        padding-bottom: 5px;
    }
    .educ-name{
        display: flex;
        justify-content: space-around;
        
    }
}